<!-- services.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>services</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif ;background-color: black;
margin: 0;">
    <header style="  border-bottom: 2px solid #ccc;">
        <nav style="background-color:black ;display: flex; justify-content: space-between">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS20DRfxIAzwIP9EzdkhShv4ZoikfxAAVTPQ&usqp=CAU" alt="" width="80">
            <ul style=" display: flex;  list-style: none;  padding:   20px;" >
                <li><a href="/" style="text-decoration: none; font-size: 20px;margin-left: 60px; color: white;">Acceuil</a></li>
                <li><a href="services"  style="text-decoration: none;margin-left: 60px; font-size: 20px; color: white;">Nos services</a></li>
                <li><a href="contact"  style="text-decoration: none;  margin-left: 60px;font-size: 20px; color: white;">Contactez-nous</a></li>
            </ul>
        </nav>
    </header>

    <section style="border-color: white;border: 10px; min-height: 400px;">
      <h1 style="color: white; text-align: center;">Nos Services</h1>
      <p style="color: white;">Explorez nos services exceptionnels :</p>
  
      <ul style="color: white;">
        <li>
          <h2>Service de Consultation</h2>
          <p>Obtenez des conseils personnalisés de nos experts.</p>
        </li>
        <li>
          <h2>Services de Développement Web</h2>
          <p>Création de sites web modernes et interactifs.</p>
        </li>
        <li>
          <h2>Service de Maintenance</h2>
          <p>Mises à jour régulières pour garantir le bon fonctionnement.</p>
        </li>
      </ul>
    </section>

    <footer style="border-top: 2px solid #ccc;
    ">
    <div style="color: white;text-align:center ;">
      <p >&copy; 2024 Mon Entreprise. Tous droits réservés.</p>
      
      <p> Adresse : Rue 22 en face Casino</p>
    </div>
    </footer>
</body>
</html>
